
<address>
  Current address should specify
  </address>

<h5>Contact Form</h5>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="userName..">

    <label for="lname">Email Id</label>
    <input type="email" id="lname" name="lastname" placeholder="Email Id..">

    <label for="lname">contact number</label>
    <input type="number" id="lname" name="lastname" placeholder="Contact number..">
  <br>

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="india">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>