

<!--
<div style="padding-top: 20px">
   <dl class= "row">
      <dt class ="col-sm-2"><img class="card-img-top" src="https://vignette.wikia.nocookie.net/fantendo/images/6/6e/Small-mario.png/revision/latest?cb=20120718024112" alt="Card image"hspace="20px"vspace="10px"width="150"height="150"></dt>
      <dt class = "col-sm-2">Name </dt>
      <dd>Mario Toy</dd>
      <dt class="col-sm-2">Category</dt>
      <dd>Toy</dd>
      <dt class="col-sm-2">Description</dt>
      <dd><p>This toy comes with Red and blue color. This is toy is made by plastic and not
        a electronic product.</p>
      </dd>
      <dt class = "col-sm-2">Price</dt>
      <dd>200/-</dd>
      <dt class = "col-sm-2">Warranty</dt>
      <dd>10 days replacement Warranty</dd>
      <dd>         <p>   </p></dd>
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
      </a>
      <dt class = "col-sm-8">
          <div class="btn-group">
              <button type="button" class="btn btn-primary">Add To Card</button>
              <button type="button" class="btn btn-primary">Purchase</button>
              <button type="button" class="btn btn-primary">Cancel</button>
            </div> 
      </dt>
      
    </dl>
  </div>
-->

  <div class="container" id="product-section">
    <div class="row">
     <div class="col-md-6">
     
        <dt class ="col-sm-2"><img class="card-img-top" src="https://vignette.wikia.nocookie.net/fantendo/images/6/6e/Small-mario.png/revision/latest?cb=20120718024112" alt="Card image"hspace="1px"vspace="10px"width="500"height="500"></dt>
     </div>
     <div class="col-md-6">
      
        <div class="row">
         <div class="col-md-10">
          <h1>Mario Toys </h1>
          <hr>
       </div><!-- end row-->
       

       <div class="row">
        <div class="col-md-12">
         <span class="label label-primary">Toys</span>
         <span class="monospaced">No. 1960140180</span>
        </div>
       </div><!-- end row -->

       <div class="row">
        <div class="col-md-3">
         <span class="sr-only">Four out of Five Stars</span>
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
         <span class="label label-success">61</span>
        </div>
        
       </div><!-- end row -->
       <div class="row">
        <div class="col-md-12 bottom-rule">
         <h2 class="product-price">Rs. 129.00</h2>
        </div>
       </div><!-- end row -->
       
       <div class="row add-to-cart">
        <div class="col-md-5 product-qty">
         <span class="btn btn-default btn-lg btn-qty">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         </span>
       
         <input class="btn btn-default btn-lg btn-qty" value="1" />
       
         <span class="btn btn-default btn-lg btn-qty">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
         </span>
        </div>
       
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-shopping-cart"></span> Add To Card
          </a>


          <!--
        <div class="col-md-4">
         <button class="btn btn-lg btn-brand btn-full-width">
          Add to Cart
         </button>
        </div>-->
       </div><!-- end row -->
       
       <div class="row">
        <div class="col-md-4 text-center">
         <span class="monospaced">In Stock</span>
        </div>
        <div class="col-md-3 col-md-offset-1 text-center">
         <a class="monospaced" href="#">Add to Shopping List</a>
        </div>
       </div><!-- end row -->
       
       <div class="row">
        <div class="col-md-12 bottom-rule top-10"></div>
       </div><!-- end row -->
       
       <div class="row">
        <div class="col-md-12 top-10">
         <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
        </div>
       </div><!-- end row -->

       <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
        <a href="#description"
          aria-controls="description"
          role="tab"
          data-toggle="tab"
        >Description</a>
        </li>
        <li role="presentation">
        <a href="#features"
          aria-controls="features"
          role="tab"
          data-toggle="tab"
        >Features</a>
        </li>
        <li role="presentation">
        <a href="#Delivery"
          aria-controls="Delivery"
          role="tab"
          data-toggle="tab"
          >Delivery</a>
        </li>
        <li role="presentation">
        <a href="#reviews"
          aria-controls="reviews"
          role="tab"
          data-toggle="tab"
        >Reviews</a>
        </li>
      </ul>

      <ul class="nav nav-tabs" role="tablist"></ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description">
            <p class="top-10">
                The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60. 
                A more luxurious version of the Brownie Six-20 Model F, it has a two-speed shutter (1/80, 1/40 +B), a close-focus (5-10ft) lens, a yellow filter and flash sync. The Flash B is very similar to the Brownie Flash IV, adding a two-speed shutter but lacking a tripod bush.
                </p>
        <p>.....</p>
        </div>
        <div role="tabpanel" class="tab-pane top-10" id="features">
        <p><i>This include product features</i></p>
        <p>.....</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="Delivery">
            <p><i>This include product delivery details</i></p>
            <p>.....</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="reviews">
            <p><i>This include customer Review</i></p>
            <p>.....</p>
        </div>
      </div>

     
     </div>
    </div><!-- end row -->
   </div><!-- end container -->
  
   <p>  </p>
   <p>  </p>
   <p>  </p>
  <hr>
   <ul class="products">
      <li>
          <a href="#">
              <img src="https://image.smythstoys.com/images/main-categories/toys/Toys-Hub-Pre-School.png" width="200px"class="rounded">
              <h4>Logo Shirt (Gray)</h4>
              <p>Rs 20.00</p>
          </a>
      </li>
      <li>
          <span class="border">
          <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0724/1963/products/alvin_and_chipmunks_toy_1024x1024.png?v=1456920123" width="200px" class="rounded">
              <h4>Mike the Frog Shirt (Orange)</h4>
              <p>Rs 25.00</p>
          </a>
        </span>
      </li><!-- more list items -->
      <li>
          <a href="#">
              <img src="https://ae01.alicdn.com/kf/HTB1NF.OOFXXXXbRaXXXq6xXFXXX1/20CM-Over-Game-2016-Watch-OW-Pachimari-plush-Dolls-Stuffed-Toys.jpg_350x350.jpg" width="200px"class="rounded">
              <h4>Logo Shirt (Gray)</h4>
              <p>Rs 20.00</p>
          </a>
      </li>

      <li>
          <a href="#">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8IqgGgEINcQ3KH_5X6cn07T40Yse6BqDylzFq0T5SEBumjm3iDw" width="200px"class="rounded">
              <h4>Teddy Bear</h4>
              <p>Rs 100.00</p>
          </a>
      </li>

      <li>
          <a href="#">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81g8LWaWFHL._SL1500_.jpg" width="200px"class="rounded">
              <h4>Logo Shirt (Gray)</h4>
              <p>Rs 20.00</p>
          </a>
      </li>

      
  </ul>

  